[submodule "Base-RAG"]
	path = Base-RAG
	url = git@github.com:NilaAkbari/Base-RAG.git
[submodule "FromLocalToGlobalGraphRAG"]
	path = FromLocalToGlobalGraphRAG
	url = git@github.com:NilaAkbari/MastersThesis-FromLocalToGlobalGraphRAG.git
[submodule "StructRAG"]
	path = StructRAG
	url = git@github.com:NilaAkbari/StructRAGThesis.git
